.footer {
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
    align-items: flex-start;
    background: #1475a2;
    color: #fff;
    padding: 30px;

    .our-works div {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 20px;

        p {
            padding: 10px;
        }

        img:not(:nth-of-type(1)) {
            border-right: 1px solid #fff;
            padding-right: 10px;
            margin-left: 10px;
        }
    }

    .contact-info {
        display: flex;
        justify-content: center;
        align-items: center;

        &:not(:nth-of-type(1)) {
            margin-top: 35px;
        }

        img {
            margin: 0 20px;
        }
    }

    h3 {
        margin-bottom: 20px;
    }

    ul {
        display: grid;
        grid-template-columns: 1fr 0.9fr;
        grid-gap: 30px 0;
        list-style: url("../../images/list-arrow.png");
    }
}

@media (max-width: 1330px) {
    .footer {
        flex-direction: column;
        font-size: 10px;
        align-items: center !important;

        .our-works {
            margin-top: 40px;
        }
    }
}

@media (max-width: 375px) {
    .footer {
        font-size: 10px !important;

        .contact-info {
            justify-content: center !important;
        }
        ul {
            font-size: 9px;
        }
    }
}
