*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    width: 100%;
    flex-direction: row !important;
    padding: 34px !important;
    background: #fff !important;
    position: relative;
    height: max-content;

    .logo {
      width: 111px !important;
      height: 60px !important;
      background: url("../../images/logos/logo2.png") !important;
      background-repeat: no-repeat !important;
      background-size: cover;
    }

    nav {
      display: none;
      position: absolute;
      right: 4.4%;
      top: 72%;
    }

    .three-lines {
      display: block !important;
      cursor: pointer;
    }

    #check:checked ~ nav {
      display: block;
      background: #1475a2;
      padding: 131px 10px;
      text-align: center;

      .sidebar-list-items {
        padding-bottom: 20px;
        font-weight: 600;
        font-size: 18px;
      }
    }
    .contacts-lang {
      display: none;
    }
  }