.gallery {
  &-sections {
    padding: 125px 90px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .section {
      margin-bottom: 100px;
      h2 {
        font-size: 20px;
        background: #1475A2;
        text-align: center;
        color: white;
        margin-bottom: 70px;
        padding: 6px;
      }

      .gallery-images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3vh 2vw;

        .project {
          position: relative;
          cursor: pointer;

          &-name {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 99%;
            font-weight: bold;
            display: none;
            color: #fff;
            font-size: 2em;
            background: rgba(20, 117, 162, 0.45);
          }

          img {
            width: 100%;
          }
        }
        .project:hover .project-name {
          display: flex;
          align-items: flex-end;
          padding: 20px !important;
        }
      }
    }
    .section1 {
      margin-bottom: 70px;
    }
  }
}


@media (max-width: 768px) {
  .gallery-sections {
    padding: 60px 24px 0;
    .section {
      h2 {
        display: none !important;
      }
    }
    .gallery-images {
      grid-template-columns: repeat(2, 1fr) !important;
    }
  }
}

@media (max-width: 400px) {
  .gallery-sections {
    padding: 32px 12px 0;
   
    .gallery-images {
      grid-template-columns: 1fr !important;
    }
  }
}
