.footer {
    font-size: 14px;
    background: #1475a2;
    color: #fff;
    letter-spacing: 0.2em;
    padding: 45px 0;   
    overflow: hidden; 

    &-content{
        margin: auto;
        width: min-content;
        display: flex;
    }

    .our-works {
        width: max-content;

        div {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: 20px;

            p {
                padding: 10px;
            }

            a:not(:nth-of-type(1)) {
                border-right: 2px solid #C4C4C4;
                padding-right: 10px;
                margin-left: 18px;
            }
        }
    } 

    .footer-contacts {
        display: grid;
        grid-template-columns: max-content 25px auto;
        grid-template-rows: repeat(4, max-content);
        grid-column-gap: 20px;
        grid-row-gap: 30px;
        margin-right: 30px;
        
        > * {
           display: inline; 
        }

        .info-1-column-item { 
            text-align: right; 
        }
    }

    h3 {
        margin-bottom: 20px;
    }

    ul {
        display: grid;
        grid-template-columns: max-content max-content;
        grid-template-rows: repeat(4, max-content);
        grid-gap: 28px 24px;
        list-style: url("../../images/list-arrow.png");
    }
}
@media (max-width: 1450px) {
    .footer {
        font-size: 13px;
    }
}


@media (max-width: 1330px) {
    .footer {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .footer{
        font-size: 12px;
        flex-direction: column;

        .footer-contacts{
            img{
                width: 15px !important;
                height: 15px !important;
            }
        }
        .footer-content {
            flex-direction: column;
            align-items: center !important; 
        }

        .our-works {
            margin-top: 40px;

            .social-media{
                img{
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .footer {
        font-size: 6.5px !important;

        .footer-contacts {
            grid-column-gap: 10px;
        }

        .contact-info {
            justify-content: center !important;
        }
        ul {
            font-size: 8px;
        }
    }
}
