* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.no-scroll {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.home {
  display: grid;
  grid-template-columns: max-content auto;
  min-height: 100vh;
  font-family: Segoe UI;

  .cover-page {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: url("../../images/cover-page.png");
    background-size: cover;
    padding: 0 45px 45px 0;
    background-position: 100%;

    .prt-btn {
      border: none;
      background: rgb(20, 117, 162, 0.6);
      padding: 9px 20px 18px 21px;
      color: #fff;
      font-size: 18px;
      border-radius: 5px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer;

      span {
        font-size: 30px;
      }
    }

    .prt-btn:hover {
      background: rgba(20, 117, 162, 0.3);
    }
  }
}

.services {
  display: flex;
  justify-content: space-between;
  padding: 11vh 15.6vw;

  > a {
    flex: 1;
  }

  a {
    text-decoration: none;

    .des-service {
      display: grid;
      grid-row-gap: 40px;
      grid-template-rows: max-content auto;

      img {
        margin: auto;
        width: 130px;
        height: 130px;
      }

      p {
        color: black;
        font-size: 20px;
        text-align: center;
        font-weight: 600;
      }
    }
  }
}

@media (max-width: 768px) {
  .home {
    display: block !important;
    min-height: none !important;
    min-height: 0 !important;

    .cover-page {
      width: 100% !important;
      min-height: 617px;
      padding: 0 !important;
      background-position: 90% !important;

      .prt-btn {
        display: none;
      }
    }
  }
  .services {
    justify-content: space-between !important;
    padding: 50px 30px !important;

    .des-service {
      img {
        width: 70px !important;
        height: 70px !important;
      }
    }

    .des-service p {
      font-size: 12px !important;
    }
  }
}

@media (max-width: 375px) {
  .cover-page {
    height: 42vh !important;
    background-position: 100% !important;
  }
  .services {
    padding: 40px 0 !important;

    .des-service {
      font-weight: 600 !important;
      grid-row-gap: 20px !important;

      p {
        font-size: 6px !important;
      }

      img {
        width: 60px !important;
        height: 60px !important;
      }
    }
  }
}

@media (max-width: 300px) {
  .services {
    flex-wrap: wrap;
  }
}
