.partners-slider {
    padding: 100px 113px 80px 113px;
    h2 {
        text-align: center;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 24px !important;
    }
}

@media (max-width: 375px) {
    h2 {
        font-size: 10px !important;
    }
}
