.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    transform: translateX(8vw);
    background: #fff;

    .name-mail {
        input {
            border: 1px solid #aeadb3;
            border-radius: 3px;
            padding: 1.5vh 6vw 1.5vh 1vw;
            outline: none;
            background: rgba(229, 229, 229, 0.18);
        }
        #useremail {
            margin-left: 13px;
        }
    }

    textarea {
        outline: none;
        resize: none;
        margin-top: 20px;
        border: 1px solid #aeadb3;
        border-radius: 3px;
    }

    .submit-btn {
        background: none;
        padding: 1vh 2vw;
        line-height: 134.77%;
        border-radius: 3px;
        align-self: flex-end;
        font-weight: 400;
        margin-top: 20px;
        font-size: 15px;
        border: 1px solid #aeadb3;
    }
}

@media (max-width: 1150px) {
    .contact-form {
        padding: 15px;
        transform: translateX(5vw);
        input {
            padding: 0.8vh 1.5vw 0.8vh 0.5vw !important;
        }
    }
}

@media (max-width: 768px) {
    .contact-form {
        padding-right: 0px !important;
        width: 55vw;
        input{
            width: 45%;
        }
        textarea{
            width: 94%;
        }
        input,
        textarea,
        .submit-btn {
            border-radius: 5px !important;
        }
        .submit-btn {
            padding: 0.5vh 4vw !important;
            margin-right: 3vw !important;
        }
    }
}
