.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    transform: translateX(5vw);
    background: #fff;

    .name-mail {
        input {
            border: 1px solid #aeadb3;
            border-radius: 3px;
            padding: 1.5vh 8vw 1.5vh 1vw;
            outline: none;
        }
        #useremail{
            margin-left: 13px;
        }
    }

    textarea{
        outline: none;
        resize: none;
        margin-top: 20px;
        border: 1px solid #aeadb3;
        border-radius: 3px;
    }

    .submit-btn{
        background: none;
        padding: 12px 26px;
        line-height: 134.77%;
        border-radius: 3px;
        align-self: flex-end;
        font-weight: 400;
        margin-top: 20px;
        font-size: 15px;
        border: 1px solid #aeadb3;
    }
}

