.gallery {
    &-sections {
        padding: 3vh 4vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .section {
            padding-top: 4vh;
            h2{
                font-size: 20px;
                margin: 10px;
            }
            .gallery-images {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 3vh 2vw;

                img{
                    width: 30vw;
                    height: 37vh;
                    cursor: pointer;
                }
            }
        }
    }
}


@media (max-width: 1200px){
    .gallery-images{
        img{
            height: 25vh !important;
        }
    }
}

@media (max-width: 768px) {
    h2{
        display: none !important;
    }
    .gallery-images {
        grid-template-columns: repeat(2, 1fr) !important;

        img{
            width: 47vw !important;
            height: 28vh !important;
        }
    }
}

@media (max-width: 375px) {
    .gallery-images{
        grid-template-columns: 1fr !important;

        img{
            width: 100% !important;
        }
    }
}
